


#container_1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1%;
}


.block{
  height: 2rem;
  border: 1px solid black;
  background-color: #ffe5e7;
  border-radius: 5px;
}

/*-------------------------------------------*/
#container_2{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 1%;
}

/*-------------------------------------------*/

#container_3{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 1%;
}
